# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto
.quarto/
**/*.quarto_ipynb
_site/

# renv ambiente local
renv/library/

# Datos crudos y script
scripts/
data/raw/

# Archivos de sistema
.DS_Store
Thumbs.db

/.quarto/
